$white: #fff;
$black: #000;
$color_333: #333;
$color_293332: #293332;
$color_575958: #575958;
$color_E63756: #e63756;
$color-F7F7F7: #f7f7f7;
$color-32A13A: #32a13a;
$color-909397: #909397;
$color-E6E6E6: #e6e6e6;
$color-EBF1F1: #ebf1f1;
$color-A0A3A2: #a0a3a2;
$color-ebeef5: #ebeef5;
$color-F4F4F4: #f4f4f4;
$color-3b76bd: #3b76bd;
$color-373A39: #373a39;
$color-FBFBFB: #fbfbfb;
$color-F4FAF5: #f4faf5;
$color-EAEFEB: #eaefeb;
$color-E6EFFC: #e6effc;
$color-1C4F93: #1c4f93;
$color-B20021: #b20021;
$color-F6E3E6: #f6e3e6;
$color-FFD600: #ffd600;
$color-F8F8F8: #f8f8f8;
$color-F5FAF5: #f5faf5;
$color-CDCECD: #cdcecd;
$fdfdfe: #fdfdfe;
$f0f2f7: #f0f2f7;
$e4e7ed: #e4e7ed;

.color_black {
  color: #202124;
}
