.el-select {
  .el-select__wrapper {
    min-height: 40px;
    border-radius: 8px;
    &.is-hovering,
    &.is-focused {
      box-shadow: 0 0 0 1px $color-32A13A;
    }
    .el-icon {
      width: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.8723 10.5699L11.7403 6.93046C12.3471 6.16043 11.8228 5 10.868 5L5.132 5C4.17724 5 3.65289 6.16043 4.2597 6.93046L7.1277 10.5699C7.57965 11.1434 8.42034 11.1434 8.8723 10.5699Z' fill='%23293332'/%3E%3C/svg%3E%0A");
      svg {
        display: none;
      }
    }
    .el-select__placeholder {
      @include fontSetting(16px, 500, $color_293332);
      &.is-transparent {
        @include fontSetting(16px, 500, $color-A0A3A2);
      }
    }
  }
}
.el-popper {
  margin-top: -5px;
  border-radius: 8px;
  .el-select-dropdown__list {
    padding: 6px 8px;
    .el-select-dropdown__item {
      height: 36px;
      padding: 0 8px;
      @include fontSetting(16px, 400, $color_293332, 34px);
      &.is-hovering {
        background-color: $color-F5FAF5;
      }
      &.is-selected {
        @include fontSetting(16px, 400, $color-32A13A, 34px);
      }
    }
  }
  .el-popper__arrow {
    display: none;
  }
}
